
.course-content h2 {
  margin-bottom: 8px !important;
  font-size: 45px;
  line-height: 55px;
  font-weight: 700;
  color: #0e0a38;
}

.course-section {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media (min-width: 1200px) {
 
}
@media only screen and (max-width: 767px){
  .courses-section {
     padding-top: 20px;
     padding-bottom: 20px;

 }
  
}