.header-top {
  height: 70px;
  background-color: var(--dark-blue);
  overflow: hidden;
  padding: 15px 0;
  opacity: 1;
  transition: opacity 0.01s ease-in-out;
}

.header-top-wrapper {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.header-top-social {
  display: flex;
}

.header-search-course {
  flex-basis: 46%;
  position: relative;
  justify-content: center;
  display: flex;
}

.search-course {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding-left: 20px;
  height: 40px;
  color: #fff;
}

.search-course input {
  background: transparent;
  color: #fff;
}

.search-course input::placeholder {
  color: #d3d3dc;
}

.btn-reg-log {
  font-size: 16px;
  color: white;
  padding: 0 4px;
  background-color: transparent;
}

.header-top-social svg:hover,
.btn-reg-log:hover {
  color: var(--orange) !important;
  background: transparent !important;
  transition: color 0.2s ease;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .header-search-course {
    display: none !important;
  }
}

@media only screen and (min-width: 767px) and (max-width: 992px) {
  .header-top {
    display: none;
  }
}


@media only screen and (max-width: 767px) {

  .header-top {
      display: none !important;
  }
}
